body {
    background-color: #bd0606;
}

header {
    background-color: #bd0606;
    margin-left: 5px;
    font-size: 20px;
}

.linha {
    background-color: #000000;
    font-size: 1px;
    width: 200%;
}

.blog {
    text-align: center;
    font-size: 20px;
}

.camp_user {
    background-color: #ef0000;
    font-size: 20px;
    text-align: center;
    padding: 100px;
    border-radius: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}